<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929378810772-4m1vaqjp50tb3g876ajptk45n7v64e9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929378810772-4m1vaqjp50tb3g876ajptk45n7v64e9t</string>
	<key>API_KEY</key>
	<string>AIzaSyDFOFE8v5Qnpj7RQfLglSuUEj0aFf78hcI</string>
	<key>GCM_SENDER_ID</key>
	<string>929378810772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Tech030893.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-425fe</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-425fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929378810772:ios:7cbf56ce2380686ba02d81</string>
</dict>
</plist>